<div class='row'>
  <div class='col-sm-8'>
    
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><%= article.title %></h4>
          <p class="card-text"><%= @Markdown.render(article.body).html_safe %></p>
        </div>
        <div class='card-footer'>
          <div><%= article.view %> views </div>
          <%= link_to 'Show', article, class: 'btn btn-info-outline' %>
          <%= link_to 'Remove', article, method: :delete, data: { confirm: 'Do you want to remove this article? '}, class: 'btn btn-danger-outline' %>

        </div>
      </div>
    
  </div>
  <div class='col-sm-2'>

  </div>
</div>